<div class="row">
  <div class="col-md-4 col-lg-4 col-sm-12 bg-white m-4">
    <p class=" text-uppercase font-weight-bold my-4">
      Informacion de la empresa
    </p>
    <div class="container text-center my-5">
      <div class="info-block">
        <h2 class="info-title">Nombre</h2>
        <p class="info-description">Descripción para el título 1.</p>
      </div>
      <div class="info-block mt-4">
        <h2 class="info-title">Fecha de creación</h2>
        <p class="info-description">Primera descripción para el título 2.</p>
        <p class="info-description">Segunda descripción para el título 2.</p>
      </div>
      <div class="info-block mt-4">
        <h2 class="info-title">Dirección</h2>
        <p class="info-description">Descripción para el título 3.</p>
      </div>
      <div class="info-block mt-4">
        <h2 class="info-title">Número de Teléfono</h2>
        <p class="info-description">Descripción para el título 3.</p>
      </div>
      <div class="info-block mt-4">
        <h2 class="info-title">Sitio Web</h2>
        <p class="info-description">Descripción para el título 3.</p>
      </div>
    </div>
  </div>

  <div class="col-md-7 col-lg-7 col-sm-12  bg-white m-4">
    <p class="tile text-uppercase font-weight-bold my-4 ml-3">Informacion del contacto</p>
    <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-12">
            <div class="container text-center my-5">
                <div class="info-block">
                  <h2 class="info-title">Dirección</h2>
                  <p class="info-description">Descripción para el título 1.</p>
                </div>
                <div class="info-block mt-4">
                  <h2 class="info-title">Correo electrónico</h2>
                  <p class="info-description">Primera descripción para el título 2.</p>
                  <p class="info-description">Segunda descripción para el título 2.</p>
                </div>
                <div class="info-block mt-4">
                  <h2 class="info-title">Sitio web</h2>
                  <p class="info-description">Descripción para el título 3.</p>
                </div>
                <div class="info-block mt-4">
                  <h2 class="info-title">Red social</h2>
                  <p class="info-description">Descripción para el título 3.</p>
                </div>
                
              </div>
        </div>

        <div class="col-md-1 d-none d-md-block border-right border-gray"></div>

        <div class="col-md-5 col-lg-5 col-sm-12">
            <div class="container text-center my-5">
                <div class="info-block">
                  <h2 class="info-title">Dirección de corespondencia de correo</h2>
                  <p class="info-description">Descripción para el título 1.</p>
                </div>
                <div class="info-block mt-4">
                  <h2 class="info-title">Número de Teléfono</h2>
                  <p class="info-description">Primera descripción para el título 2.</p>
                  <p class="info-description">Segunda descripción para el título 2.</p>
                </div>
              </div>
        </div>
    </div>
  </div>
</div>
