<div class="row">
  <div class="col-md-4 col-lg-4 col-sm-12 bg-white m-4">
    <p class=" text-uppercase font-weight-bold my-4">
      Informacion de la empresa
    </p>
    <div class="container text-center my-5">
      <div class="info-block">
        <h2 class="info-title">Nombre</h2>
        <p class="info-description">Quipux S.A.S</p>
      </div>
      <div class="info-block mt-4">
        <h2 class="info-title">Fecha de creación</h2>
        <p class="info-description"> 1995/05/06</p>
      </div>
      <div class="info-block mt-4">
        <h2 class="info-title">Dirección</h2>
        <p class="info-description"> Carrera 43A No. 3 Sur-130</p>
        <p class="info-description">Ed. Milla de Oro</p>
        <p class="info-description"> Distrito de negocios Torre 1</p>
        <p class="info-description"> Piso 12</p>
        <p class="info-description"> Medellin, Colombia</p>
      </div>
      <div class="info-block mt-4">
        <h2 class="info-title">Número de Teléfono</h2>
        <p class="info-description">Fijo</p>
        <p class="info-description">+57 (4) 313-70-00</p>
        <p class="info-description">Fax</p>
        <p class="info-description">(312) 313-44-7</p>
      </div>
      <div class="info-block mt-4">
        <h2 class="info-title">Sitio Web</h2>
        <p class="info-description">www.quipux.com/site</p>
      </div>
    </div>
  </div>

  <div class="col-md-7 col-lg-7 col-sm-12  bg-white m-4">
    <p class="tile text-uppercase font-weight-bold my-4 ml-3">Informacion del contacto</p>
    <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-12">
            <div class="container text-center my-5">
                <div class="info-block">
                  <h2 class="info-title">Dirección</h2>
                  <p class="info-description">Carrera 52 # 91-66</p>
                  <p class="info-description">Medellin, Colombia</p>
                </div>
                <div class="info-block mt-4">
                  <h2 class="info-title">Correo electrónico</h2>
                  <p class="info-description">usuarioapellido@hotmail.com</p>
                </div>
                <div class="info-block mt-4">
                  <h2 class="info-title">Sitio web</h2>
                  <p class="info-description">www.usuarioapellido.com</p>
                </div>
                <div class="info-block mt-4">
                  <h2 class="info-title">Red social</h2>
                  <p class="info-description">www.instagram.com/usuarioapellido</p>
                  <p class="info-description">www.linkedin.com/usuarioapellido</p>
                </div>
                
              </div>
        </div>
 
        <div class="col-md-1 d-none d-md-block border-right border-gray"></div>

        <div class="col-md-5 col-lg-5 col-sm-12">
            <div class="container text-center my-5">
                <div class="info-block">
                  <h2 class="info-title">Dirección de corespondencia de correo</h2>
                  <p class="info-description">Carrera 52 # 91-66</p>
                  <p class="info-description">Envigado, Colombia</p>
                </div>
                <div class="info-block mt-4">
                  <h2 class="info-title">Número de Teléfono</h2>
                  <p class="info-description">Fijo</p>
                  <p class="info-description">+57 (4) 313-70-00</p>
                  <p class="info-description">Celular</p>
                  <p class="info-description">(312) 313-44-7</p>
                </div>
              </div>
        </div>
    </div>
  </div>
</div>
