<div class="row">
    <div class="col-md-4 col-lg-4 col-sm-12 bg-white mx-4">
      <p class=" text-uppercase font-weight-bold my-4">
        Informacion del contacto
      </p>
      <div class="container text-center my-5">
        <div class="info-block">
          <h2 class="info-title">Dirección</h2>
          <p class="info-description">Carrera 52 # 91-66</p>
          <p class="info-description">Medellin, Colombia</p>
        </div>
        <div class="info-block mt-4">
          <h2 class="info-title">Correo electrónico</h2>
          <p class="info-description">usuarioapellido@hotmail.com</p>
        </div>
        <div class="info-block mt-4">
          <h2 class="info-title">Sitio web</h2>
          <p class="info-description">www.usuarioapellido.com</p>
        </div>
        <div class="info-block mt-4">
          <h2 class="info-title">Red social</h2>
          <p class="info-description">www.instagram.com/usuarioapellido</p>
          <p class="info-description">www.linkedin.com/usuarioapellido</p>
        </div>
        <div class="info-block">
          <h2 class="info-title">Dirección de corespondencia de correo</h2>
          <p class="info-description">Carrera 52 # 91-66</p>
          <p class="info-description">Envigado, Colombia</p>
        </div>
        <div class="info-block mt-4">
          <h2 class="info-title">Número de Teléfono</h2>
          <p class="info-description">Fijo</p>
          <p class="info-description">+57 (4) 313-70-00</p>
          <p class="info-description">Celular</p>
          <p class="info-description">(312) 313-44-7</p>
        </div>
      </div>
    </div>
  
    <div class="col-md-7 col-lg-7 col-sm-12 ">
      <div class="row">
        <div class=" bg-white col-md-12 col-lg-12 col-sm-12 mb-4">

            <div class="container my-5">

                <div class="row justify-content-center">
                  <div class="col-auto">
                    <div id="imageCarousel" class="carousel slide custom-carousel" data-ride="carousel">

                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <div class="image-placeholder"><i class="fa fa-xl fa-image"></i></div>
                        </div>
                        <div class="carousel-item">
                          <div class="image-placeholder"><i class="fa fa-xl fa-image"></i></div>
                        </div>
                        <div class="carousel-item">
                          <div class="image-placeholder"><i class="fa fa-xl fa-image"></i></div>
                        </div>
                      </div>
              

                      <a class="carousel-control-prev simple-arrow" href="#imageCarousel" role="button" data-slide="prev">
                        <i class="fas fa-chevron-left"></i>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next simple-arrow" href="#imageCarousel" role="button" data-slide="next">
                        <i class="fas fa-chevron-right"></i>
                        <span class="sr-only">Next</span>
                      </a>
              

                      <ol class="carousel-indicators">
                        <li data-target="#imageCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#imageCarousel" data-slide-to="1"></li>
                        <li data-target="#imageCarousel" data-slide-to="2"></li>
                      </ol>
                    </div>
                  </div>
                </div>
              </div>
              

        </div>
        <div class=" bg-white col-md-12 col-lg-12 col-sm-12 ">

            <div class="row mt-4" >
                <div class="col-12">
                  <div class="scroll-container">
                    <div class="row ">

                      <div *ngFor="let a of articulos"  class="col-lg-3 col-md-6 text-center mb-4">
                        <i class="icon-placeholder mb-4 fa fa-lg fa-circle-user"></i>
                        <h3 class="item-title">{{ a.titulo }}</h3>
                        <p class="item-description">{{ a.descripcion }}</p>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
  </div>
  
