.info-block {
    .info-title {
        font-weight: bold;
        font-size: 1.1rem;
        margin-bottom: 0.5rem;
    }

    .info-description {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }
}



.scroll-container {
    max-height: 300px;
    overflow-y: auto;
    padding: 1rem;
    background-color: #f9f9f9;
    scrollbar-width: thin;
    scrollbar-color: #ccc #f9f9f9;
}


.icon-placeholder {
    margin-bottom: 1rem;
    font-size: 3rem;
    color: #afafaf;
}

.item-title {
    font-size: .8rem;
    margin-bottom: 0.5rem;
    color: #777;
}

.item-description {
    font-size: .6rem;
    color: #555;
}


.custom-carousel {
    position: relative;
    width: 300px;
    margin: auto;

    .carousel-inner {
        .image-placeholder {
            width: 100%;
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12rem;
            color: #555;
        }
    }

    .simple-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.5rem;
        color: #888;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
            color: #555;
        }

        &.carousel-control-prev {
            left: -6rem;
        }

        &.carousel-control-next {
            right: -6rem;
        }
    }

    .carousel-indicators {
        position: relative;
        bottom: -20px;

        li {
            background-color: #888;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            margin: 0 5px;
        }

        .active {
            background-color: #333;
        }
    }
}