<div class="row">
    <div class="col-md-6 col-lg-7 col-sm-12 mx-5">
        <div class="container m-8">
            <h1 class="ml-3 mb-5 text-primary-quipux font-weight-bold">¿Que quieres buscar?</h1>
            <p class="font-weight-bold">Encuentra la información que desees consultar...</p>

            <div class="search-bar-container mb-5">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <button class="btn btn-dropdown-services dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Todos los servicios
                    </button>
                  </div>
              
                  <input type="text" class="form-control search-input" placeholder="Que servicio quieres consultar">
              
                  <div class="input-group-append">
                    <button class="btn btn-lg btn-primary-quipux" type="button">
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
        </div>
        <div class="container shadow bg-white my-5 p-4">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <h5 class="text-secondary-quipux">Certificado</h5>
                    <p class="mb-5">Conoce los beneficios que tenemos para ti, registrate.</p>
                    <button class=" btn-outline-succes-quipux">+ Beneficios</button>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <h5 class="text-secondary-quipux">Crear cuenta</h5>
                    <p class="mb-5">Conoce los beneficios que tenemos para ti, registrate.</p>
                    <button class=" btn-outline-succes-quipux">Ver todo</button>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <h5 class="text-secondary-quipux">Top trámites</h5>
                    <p class="mb-5">Conoce los beneficios que tenemos para ti, registrate.</p>
                    <button class=" btn-outline-succes-quipux">Ver todo</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Seccion derecha -->
    <div class="col-md-4 col-lg-4 col-sm-12">
        <div class="container-photo">
           <div class="container">
            <h2 class="title-services mb-4">Servicios Quipux</h2>
            <div class="custom-card">
                <div class="vertical-line"></div>
                <div class="card-content">
                    <div class="slide">
                        <h3 class="slide-title">Trámites en tu mano</h3>
                        <p class="slide-description">Ahora podrás hacer todos tus trámites desde la comodidad de tu casa, desde cualquier dispositivo computadora, tablet o móvil.</p>
                      </div>
                  <div id="slider" class="slider">
                  <div class="slider-controls">
                    <button class="btn btn-link prev">
                        <i class="fa-solid fa-chevron-left"></i>
                    </button>
                    <div class="indicator">
                      <span class="current">1</span> / <span class="total">3</span>
                    </div>
                    <button class="btn btn-link next">
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>
                  </div>
                  <div class="progress-bar-container">
                    <div class="progress-bar" style="width: 33%;"></div>
                  </div>
                </div>
              </div>
              


           </div>
        </div>
    </div>
</div>
