<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">
      <i class="fa fa-lg fa-home"></i>
    </a>
  
    <div class="breadcrumb-container">
      <ol class="breadcrumb-quipux mb-0">
        <li class="breadcrumb-item" *ngFor="let crumb of breadcrumb; let i = index">
          <a href="#" [routerLink]="getLink(i)">{{ crumb }}</a>
        </li>
      </ol>
    </div>
  
    <div class="ml-auto">
      <div class="dropdown">
        <button class="btn btn-user dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-lg fa-user"></i> Usuario Apellido
        </button>
      </div>
    </div>
  </nav>
  