.navbar {
    z-index: 1050;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 10px 20px;
  }

  .breadcrumb-quipux {
    display: flex;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #fff;
    border-radius: .25rem;
 
  }
  
   .breadcrumb-item{

    font-weight: 800;
    font-size: 20pt;
  }

  a{
    text-decoration: none;
    color: #999999;
  }
  
  .breadcrumb-quipux-container {
    display: inline-block;
    margin-left: 20px;
    background-color: #ffffff;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
  }
  
  .ml-auto {
    margin-left: auto;
  }
  
  .navbar-nav {
    margin-left: 2rem;
  }

  .active{
    color: #049ef4;
    border-bottom: 4px solid #049ef4;
  }
  